* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
}
#allButtons{
    width: fit-content;
    margin: 4px auto;
}
.text {
    height: 40vmin;
    font-size: 100px;
    text-align: center;
    border-bottom: 2px solid rgb(98, 0, 255);
    background: rgb(145, 255, 154);
    color: rgb(17, 0, 255);
}

.buttonsContainer {
    height: 50vmin;
    flex-wrap: wrap;
}
.buttonsDescContainer{
    flex-wrap: wrap;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vmin;
    width: 90px;
    font-size: 100px;
    border: 2px solid rgb(98, 0, 255);
    border-radius: 5px;
    color: rgb(255, 0, 0);
    background: rgb(90, 203, 255);
    margin: 1px;
    cursor: default;
}

.buttonDesc {
    height: 5vmin;
    font-size: 20px;
    font-weight: bolder;
    background: rgb(145, 255, 154);
}

.buttonsDescContainer{
    background: rgb(0, 255, 221);
    border: 2px solid rgb(98, 0, 255);
    border-radius: 10px;
    margin: 4px;
    padding: 8px 4px;
}
.flex {
    display: flex;
}

.alignItemsCenter {
    align-items: center;
}

.justifyContentCenter {
    justify-content: center;
}
.flex-col{
    flex-direction: column;
}